* {
    margin: 0;
    padding: 0;
}

a {
    all: unset;
}

.menu-itens>a:hover {
    cursor: pointer;
    background-color: beige;
    color: rgb(198, 22, 27);
}

button:hover {
    cursor: pointer;
}


#site {
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#inner-container {
    background-color: rgb(198, 22, 27);
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 33.3%;
}

#lista-menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu-itens {
    list-style-type: none;
}


#logo-header {
    display: flex;
    justify-content: center;
    width: 33.3%;
    font-weight: bold;
    align-items: center;
}

#logo-header>a:hover {
    cursor: pointer;
}

#imagem-logo-header{
    height: 80px;
}

#icones {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    width: 33.3%;
    background-color: transparent;
}

.icones-itens {
    display: flex;
}

.icones-itens:hover {
    background-color: beige;
}

.icones-itens:hover .cor{
    fill: rgb(198, 22, 27);
}

.icone-botao {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    height: 30px;
}

.link-search-login-carrinho {
    width: 100%;
    height: 100%;
}

.cor {
    fill: beige;
}

#login {
    background-color: transparent;
    display: flex;
    align-items: center;
}

#icone-palhaco-container{
    position: relative;
}

#icone-palhaco-container img{
    height: 24px;
}

#icone-palhaco-container img:last-child{
    display: none;
}

#icone-palhaco-container:hover img:first-child{
    display: none;
}

#icone-palhaco-container:hover img:last-child{
    display: block;
    background-color: beige;
}
