


#sobre-texto{
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px 0px;
}
#texto{
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: justify;
    line-height: 20px;
    letter-spacing: 0.5px;
}
.ptexto{
    margin-bottom: 24px;
    text-indent: 20px;
}
#sobre-adicionais{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.adicional{
    border: 2px solid ;
    width:26%;
    line-height: 19px;
    text-align: justify;
    padding: 10px;
}
#sobre-desenvolvimento{
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: justify;
}
.desenvolvedor{
    width: 44.5%;
}
