* {
    margin: 0;
    padding: 0;
}

a {
    all: unset;
}

a:hover {
    padding: 4px;
    cursor: pointer;
    background-color: beige;
    color: rgb(198, 22, 27);
}

button:hover {
    padding: 4px;
    cursor: pointer;
}

#site {
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#inner-container {
    background-color: rgb(198, 22, 27);
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#menu {
    display: flex;
    justify-content: flex-start;
    width: 33.3%;
}

#lista-menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu-itens {
    list-style-type: none;
}


#logo-header {
    display: flex;
    justify-content: center;
    width: 33.3%;
    font-weight: bold;
}

#icones {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 33.3%;
}



#meio {
    display: flex;
    background-color: rgba(223, 219, 184, 0.815);
    height: 100%;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    height: 800px;
    width: 340px;
}

.filtro-produto {
    font-weight: bold;
    margin-top: 8px;
    color: rgb(117, 14, 17);
}

.titulo-filtro{
    margin-left: 8px;
}

#tamanhos-itens {
    list-style: none;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    justify-content: space-evenly;
}

.tamanho {
    height: 32px;
    width: 32px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    border: none;
    background-color: rgb(253, 105, 110);
    color: beige;
}

#categorias-itens {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: transparent;
    align-items: center;
}

.categoria {
    font-size: 12px;
    font-weight: bold;
    height: 32px;
    background-color: rgb(253, 105, 110);
    border: none;
    width: 240px;
    margin: 8px 10px;
    color: beige;
}





.product-line {
    background-color: beige;
    display: flex;
    justify-content: space-around;
    color: rgb(117, 14, 17);
}

.product-block {
    width: 33%;
    margin: 8px;
}

img {
    width: 100%;
}








footer {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding-top: 25px;
}

#esquerda-footer {
    margin-left: 20px;
    width: 33.3%;
}

#newsletter-box {
    width: 35%;
    display: flex;
    border-bottom: 2px solid white;
}

input[type=email] {
    width: 100%;
    font-size: 15px;
    color: white;
    border: none;
    background-color: transparent;
}

#email-button {
    border: none;
    font-weight: bold;
    color: white;
    background-color: transparent;
    width: 20px;
    height: 20px;
}

#link-insta {
    font-weight: bold;
    text-decoration: none;
}

#logo-footer {
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 33.3%;
}

#direita-footer {
    margin-right: 20px;
    width: 33.3%;
}

.endereco {
    text-align: end;
}